//Color Palette
$mainBlue: #5cbcea;
$mainRed: #e84855;
$mainPurple: #8a5cea;
$midnightBlue: #5c75ea;
$borderGrey: #eaecef;
$borderLightGrey: #f6f9fc;


$box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.75);
$lightbox: 3px 10px 20px -4px rgba(0, 0, 0, 0.35);
$main-clip-path: polygon(0 0, 100% 0, 100% 86%, 25% 100%, 0 85%);
$reverse-clip-path: polygon(0 100%, 100% 100%, 100% 46%, 25% 60%, 0 45%);

// Fonts
$mainFont: 'Nunito',
sans-serif;
$altFont: 'Raleway';
$blogFont: 'Abril Fatface';

// Media Sizes
$phoneSize: 625px;